#top-bar{
    display: flex;
}

body {
    margin: 0%;
    padding: 0%;
}

li {
    list-style-type: none;
}

#search-bar {
    margin-left: 23%;
    width: 40%;
    max-height: 20px;
    align-self: anchor-center;
    flex: none;
}

.register-login-upper-right-corner {
    justify-content: right;
    align-items: end;
    display: flex;
}

.post-news-button {
    justify-content: right;
    margin-top: 0.5%;
    align-items: center;
    display: flex;
    width: 99%;
}

.register-login-page {
    margin-top: 4%;
    width: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.register-login-button-layout {
    margin-top: 1%;
    width: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.news-posting-page {
    margin-top: 1%;
    width: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.main-page-news-title {
    vertical-align: top;
    margin: auto;
}

.main-page-news-content {
    vertical-align: top;
    margin-bottom: 12%;
}

.news-page-news-title {
    vertical-align: top;
    margin: auto;
}

.news-page-news-content {
    vertical-align: top;
    margin-bottom: 12%;
}

#news-posting-content{
    resize: vertical;
    width: 40%;
    height: 300px;
}

#news-posting-page-image-button{
    font-size: medium;
}

#news-posting-post-button{
    margin-top: 1%;
    font-size: medium;
    width: 5%;
}

