#top-bar {
    background-color: red;
}

.main-page-news-list {
    list-style-type: none;
}

.main-page-news-content {
    font-size: larger;
}

#news-posting-url {
    font-style: italic;
    font-size: larger;
}