<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/CSS/main.css">

</head>

<body>
    <div id="top-bar">
        <a href="/">
            <img src="Images/logo-revert.png" alt="HasHaber" id="main-logo">
        </a>
        <input text="text" placeholder="Search..." id="search-bar">
        <a href="" id="search-button">
            &#x1F50D
        </a>
        <a href="" id="dark-light-theme-button">
            &#x1F315
        </a>
    </div>
    <div class="register-login-upper-right-corner">
        <a href="/login">
            <input type="button" value="Login" id="login-upper-right">
        </a>
        <form action="/api/logout" method="post">
            <input type="button" name="logout" value="Logout" id="logout-button">
        </form>
        <a href="/register">
            <input type="button" value="Register" id="register-upper-right">
        </a>
    </div>
    <div class="post-news-button">
        <a href="/news-posting-page">
            <input type="button" value="Post News" id="post-news-upper-right">
        </a>
    </div>
    <div class="main-image">
        <ul>
            <li>
                <div>
                    <a href="/news-page">
                        <img src="/Images/ked1.jfif" alt="Error" class="main-image">
                    </a>
                    <h2 class="main-page-news-title"> Cat News 1</h2>
                    <p class="main-page-news-content">Cat looks to the right, but for what purpose?..</p>
                </div>

                <div>
                    <a href="/news-page">
                        <img src="/Images/ked2.jfif" alt="Error" class="main-image">
                    </a>
                    <h2 class="main-page-news-title"> Cat News 2</h2>
                    <p class="main-page-news-content">Cat caught to the cameras...</p>
                </div>
                <div>
                    <a href="/news-page">
                        <img src="/Images/ked3.jfif" alt="Error" class="main-image">
                    </a>
                    <h2 class="main-page-news-title"> Cat News 3</h2>
                    <p class="main-page-news-content">Cat found sleeping like he is some kind of prophet...</p>
                </div>
                <div>
                    <a href="/news-page">
                        <img src="/Images/ked4.jfif" alt="Error" class="main-image">
                    </a>
                    <h2 class="main-page-news-title"> Cat News 4</h2>
                    <p class="main-page-news-content">Cat sleeping with his pillow, look how cute it is...</p>
                </div>
                <div>
                    <a href="/news-page">
                        <img src="/Images/ked5.jfif" alt="Error" class="main-image">
                    </a>
                    <h2 class="main-page-news-title"> Cat News 5</h2>
                    <p class="main-page-news-content">Cat cosplaying as Crazy Dave from PvZ (Plants versus Zombies)
                        by
                        wearing a bag on his head...</p>
                </div>
            </li>
        </ul>
    </div>
</body>

</html>