<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>HasHaber/post-news</title>
  <link rel="stylesheet" href="/CSS/main.css">
</head>

<body>
  <div id="top-bar">
    <a href="/">
      <img src="/Images/logo-revert.png" alt="HasHaber" id="main-logo">
    </a>
    <a href="" id="dark-light-theme-button">
      &#x1F315
    </a>
  </div>
  <form action="/api/news-posting-page" method="post">
    <div class="news-posting-page">
      <div>
        <input id="news-posting-url" name="url" type="url" placeholder="Image URL:'https://...' " size="30px"
          pattern="https://.*" required>
        <input id="news-posting-url-button" type="submit" value="Upload Image">
      </div>
      <br>
      <input id="news-posting-title" name="title" type="text" placeholder="Title">
      <br>
      <textarea id="news-posting-content" name="content" placeholder="Write here..." cols="100" rows="20"
        required></textarea>
    </div>
    <div class="news-posting-page">
      <input id="news-posting-post-button" type="submit" value="Post">
    </div>
  </form>
</body>

</html>