<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/CSS/main.css">
</head>

<body>
    <div id="top-bar">
        <a href="main.html">
            <img src="/Images/logo-revert.png" alt="HasHaber" id="main-logo">
        </a>
        <a href="" id="dark-light-theme-button">
            &#x1F315
        </a>
    </div>
    <form action="/api/register" method="post">
        <div class="register-login-page">
            <input id="name" name="name" type="text" placeholder="  Name" required>
            <br>
            <input id="surname" name="surname" type="text" placeholder="  Surname" required>
            <br>
            <input id="email" name="email" type="email" placeholder="  E-mail" required>
            <br>
            <input id="password" name="password" type="password" placeholder="  Password" required>
            <br>
            <input id="password" name="confirmPassword" type="password" placeholder="  Confirm Password" required>
        </div>
        <div class="register-login-button-layout">
            <input type="submit" value="Register" class="register-login-button">
        </div>
    </form>
</body>

</html>