#main-logo {
    margin-left: 1%;
    background-color: black;
    color: white;
    outline: none;
    width: 100px;
    height: 100px;
}


.main-image {
    border: 3px;
    width: 400px;
    flex: content;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}


#search-bar-search-button {
    height: auto;
    width: auto;
    align-self: center;
    display: flex;
    background-color: white;
    text-decoration: none;
}

#dark-light-theme-button {
    height: auto;
    align-items: center;
    justify-content: end;
    display: flex;
    margin-left: auto;
    text-decoration: none;
}