#top-bar {
    display: flex;
}

body {
    margin: 0%;
    padding: 0%;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
}

#search-bar {
    margin-left: 23%;
    width: 40%;
    max-height: 20px;
    align-self: anchor-center;
    flex: none;
}

#search-button {
    align-self: anchor-center;
}

#date-clock-div {
    width: fit-content;
    height: 100px;
    justify-content: center;
    flex-direction: column;
    display: flex;
    margin: 5px;
}

#date-span {
    width: fit-content;
}

#clock-span {
    width: fit-content;
}

.register-login-upper-right-corner {
    justify-content: right;
    align-items: end;
    display: flex;
}

#logout-upper-right-corner {
    display: flex;
    align-items: center;
    margin: 0px 25px 0px 0px;
}

#logout-button {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #f0f0f0;
    border-radius: 5px;
    margin: 3px;
}

.post-news-button {
    justify-content: right;
    margin-top: 0.1%;
    align-items: center;
    display: flex;
    width: 99%;
}

.register-login-page {
    margin-top: 4%;
    width: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.register-login-button-layout {
    margin-top: 1%;
    width: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.news-posting-page {
    margin-top: 1%;
    width: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.main-page-news-title {
    vertical-align: top;
    margin: auto;
}

.main-page-news-content {
    vertical-align: top;
    margin-bottom: 12%;
}

.news-page-news-title {
    vertical-align: top;
    margin: auto;
}

.news-page-news-content {
    vertical-align: top;
    margin-bottom: 12%;
}


#news-page-comment-section-comment-button {
    width: 10%;
    height: 25px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    margin-top: 5px;
    margin-left: 60%;
}

#news-page-comment-section-reply-button {
    width: 10%;
    height: 25px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    margin-top: 5px;
    margin-left: 60%;
}

.comment-section-image-username-date-span {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.comment-section-username-date-span {
    flex-direction: column;
    display: flex;
}

#news-page-add-comment {
    width: 70%;
    resize: none;
    border: none;
    background-color: whitesmoke;
    height: fit-content;
}

#news-page-add-reply {
    width: 70%;
    resize: none;
    border: none;
    background-color: whitesmoke;
    height: fit-content;
}

#news-page-comment-section-div {
    width: 60%;
    resize: none;
    border: none;
    background-color: whitesmoke;
    height: fit-content;
    margin-left: 1%;
}

.news-page-reply-div {
    width: 60%;
    resize: none;
    border: none;
    background-color: whitesmoke;
    height: fit-content;
    padding-left: 3%;
}

.comment-section-reply-image-username-date-span {
    align-items: center;
    flex-direction: row;
    display: flex;
    gap: 10px;
}

.comment-section-reply-username-date-span {
    flex-direction: column;
}

#news-posting-content {
    resize: vertical;
    width: 40%;
    height: 300px;
}

#news-posting-page-image-button {
    font-size: medium;
}

#news-posting-post-button {
    margin-top: 1%;
    font-size: medium;
    width: 5%;
}

#welcome-message {
    font-weight: 600;
    align-self: center;
    font-size: x-large;
    margin-left: 5px;
}

#preview {
    margin-top: 4%;
    width: 45%;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
}

#top-bar-end-div{
    justify-content: space-between;
}